.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .paragraph {
    color: black;
  }
  #contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.boton-agregar {
    color: black;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: 1px solid black;
}
.boton-agregar:hover {
    cursor: pointer;
}
